:root {
  --theme-bg-primary: #ffffff;
  --theme-bg-secondary: #f3f4f6;
  --theme-text-primary: #111827;
  --theme-text-secondary: #4b5563;
  --theme-accent: #8b5cf6;
}

:root.dark {
  --theme-bg-primary: #0b0f19;
  --theme-bg-secondary: #111827;
  --theme-text-primary: #f8fafc;
  --theme-text-secondary: #94a3b8;
  --theme-accent: #8b5cf6;
}
